{% extends 'blog/base.html' %}

{% block content %}
            {%if post.published_date%}
                <div class="date">
                    <p>{{post.published_date}}</p>
                </div>
            {%endif%}

            <a href="{% url 'post_edit' pk=post.pk %}"><i class="fas fa-edit fa-2x" style="color:blue"></i></a>

            <div class="post">
                <h2><a href="">{{post.title}}</a></h2>
                <p>{{post.text | linebreaksbr}}</p>
            </div>
{% endblock %}
