{% extends 'blog/base.html' %}

{% block title %} Home_pg {% endblock %}

{% block content %}
            {% for post in posts %}
                <div>

                    <div class="date">
                       <p>published: {{post.published_date}}</p>
                    </div>

                    <div class="post">
                        <h2><a href="{%url 'post_detail' pk=post.pk%}">{{post.title}}</a></h2>
                        <p>{{post.text | truncatechars:6 | linebreaksbr}}</p>

                        <a href="{% url 'post_detail' pk=post.pk %}">comments: {{post.approved_comments.count}}</a>

                    </div>

                </div>
            {% endfor %}
{% endblock %}